*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#141e30,#243b55);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.container{

display:flex;

justify-content:center;

align-items:center;

}

.login-box{

width:400px;

padding:40px;

background:rgba(255,255,255,0.1);

backdrop-filter:blur(20px);

border-radius:30px;

text-align:center;

box-shadow:0 0 30px hotpink;

}

.login-box h1{

margin-bottom:20px;

color:pink;

}

input{

width:100%;

padding:15px;

margin-top:20px;

border:none;

border-radius:15px;

font-size:16px;

}

button{

margin-top:30px;

padding:15px 40px;

border:none;

border-radius:30px;

background:hotpink;

color:white;

font-size:18px;

cursor:pointer;

transition:0.4s;

}

button:hover{

transform:scale(1.05);

}

.message-box{

width:700px;

padding:50px;

background:rgba(255,255,255,0.1);

backdrop-filter:blur(20px);

border-radius:30px;

text-align:center;

box-shadow:0 0 30px hotpink;

}

.message-box h1{

color:pink;

margin-bottom:30px;

}

.message-box p{

line-height:2;

font-size:18px;

color:white;

}

.birthday-box{

width:900px;

padding:50px;

background:rgba(255,255,255,0.1);

backdrop-filter:blur(20px);

border-radius:30px;

text-align:center;

box-shadow:0 0 30px hotpink;

}

.birthday-box h1{

color:gold;

margin-bottom:20px;

font-size:50px;

}

.birthday-box p{

line-height:2;

font-size:18px;

}

.card{

margin-top:40px;

padding:30px;

background:rgba(255,255,255,0.1);

border-radius:25px;

box-shadow:0 0 20px deeppink;

}

.memory-box{

width:900px;

padding:40px;

background:rgba(255,255,255,0.1);

backdrop-filter:blur(20px);

border-radius:30px;

text-align:center;

box-shadow:0 0 30px hotpink;

}

.memory-box h1{

color:pink;

margin-bottom:20px;

}

.memory-box p{

line-height:2;

font-size:18px;

}

.slide{

width:700px;

height:450px;

object-fit:cover;

border-radius:25px;

display:none;

margin:auto;

box-shadow:0 0 25px gold;

}

.slideshow-container{

margin-top:30px;
margin-bottom:30px;

}

body{
opacity:0;
transition:1s;
}

body.loaded{
opacity:1;
}

/* Memory Box */

.memory-box{

width:900px;

padding:40px;

background:rgba(255,255,255,.1);

backdrop-filter:blur(20px);

border-radius:30px;

text-align:center;

box-shadow:0 0 30px hotpink;

animation:float 3s infinite;

}

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0px);
}

}

.memory-box p{
    margin-top:15px;
    line-height:1.8;
    font-size:18px;
    color:white;
}
/* Buttons */

button{

padding:15px 35px;

border:none;

border-radius:30px;

background:linear-gradient(45deg,#ff0080,#ff66c4);

color:white;

font-size:18px;

cursor:pointer;

transition:.5s;

}

button:hover{

transform:scale(1.08);

box-shadow:

0 0 20px hotpink,

0 0 40px deeppink;

}

/* Heading Glow */

h1{

text-shadow:

0 0 20px gold,

0 0 40px orange;

}